<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">


    <title>Tower-命名空间</title>

    <link rel="shortcut icon" href="favicon.ico">
        {% load static %}
    <link href="{% static "css/bootstrap.min.css"%}"  rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css"%}"  rel="stylesheet">
    <link href="{% static "css/animate.min.css"%}"  rel="stylesheet">
    <link href="{% static "css/style.min.css"%}"  rel="stylesheet">

<!-- css file -->


</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">

         <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="nav-close"><i class="fa fa-times-circle"></i>
                    </div>
                   {% include 'base.html' %}
            </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">

            {% include 'header.html' %}

            <div class="row J_mainContent" style="overflow:auto" id="content-main">
               <div class="wrapper wrapper-content">


        <div class="row">


            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>命名空间列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                        <tr>

                                            <th>命名空间</th>
                                            <th>创建日期</th>
                                            <th>状态</th>
                                            <th>UID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ns in k.get_user_namespace %}
                                        <tr>
                                            <td><span class="label label-info">{{ ns.metadata.name }}</span></td>
                                            <td><i class="fa fa-clock-o"></i> {{ ns.metadata.creation_timestamp }} </td>
                                            {% if ns.status.phase == 'Active' %}
                                                <td><span class="label label-success">Active</span>
                                                </td>
                                            {% else %}
                                                <td><span class="label label-warning">Inactive</span>
                                                </td>
                                            {% endif %}
                                            <td><i class="fa"></i> {{ ns.metadata.uid }} </td>
                                            {% if ns.status.phase == 'Active' %}
                                                <td><a href="/task/namespace/delete/{{ ns.metadata.name }}"><span class="label label-danger">删除</span></a></td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                        {% if len == 0  %}
                                            <tr>
                                                <td> 当前无命名空间。 </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                <div class="col-sm-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>创建命名空间</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right center-orientation">
                            </div>
                            <div class="ibox-content contact-box">
                                    {% load bootstrap3 %}

                                <form method="post">{% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                    <input type="submit" class="btn-primary" value="点击创建" />
                                    {% endbuttons %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

            </div>
            {% include 'footer.html' %}
        </div>
    </div>




    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js"%}"></script>
    <script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "js/hplus.min.js"%}"></script>

    <script type="text/javascript" src="{% static "js/contabs.min.js"%}"></script>
    <script src="{% static "js/plugins/pace/pace.min.js" %}"></script>


</body>

</html>
