<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">


    <title>Tower-任务管理</title>

    <link rel="shortcut icon" href="favicon.ico">
        {% load static %}
    <link href="{% static "css/bootstrap.min.css"%}"  rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css"%}"  rel="stylesheet">
    <link href="{% static "css/animate.min.css"%}"  rel="stylesheet">
    <link href="{% static "css/style.min.css"%}"  rel="stylesheet">

<!-- css file -->


</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">

         <nav class="navbar-default navbar-static-side" role="navigation">
                    <div class="nav-close"><i class="fa fa-times-circle"></i>
                    </div>
                    {% include 'base.html' %}
            </nav>




        <div id="page-wrapper" class="gray-bg dashbard-1">

            {% include 'header.html' %}

            <div class="row J_mainContent"  style="overflow:auto" id="content-main">
               <div class="wrapper wrapper-content">
        <div class="row">


            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>任务列表</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-hover no-margins">
                                    <thead>
                                        <tr>
                                            <th>任务名称</th>
                                            <th>命名空间</th>
                                            <th>机器学习框架</th>
                                            <th>GPU 资源与性能信息</th>
                                            <th>任务类型</th>
                                            <th>状态</th>
                                            <th>日期</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for task in tasks %}
                                        <tr>
                                            <td class="text-navy"> {{ task.metadata.name }}</td>
                                            <td>{{ task.metadata.namespace }}</td>
                                            <td>{{ task.spec.framework.name }}-{{ task.spec.framework.version }}</td>
                                            <td>GPU:{{ task.spec.scv.gpu }} {{ task.spec.scv.level }} 显存:{{ task.spec.scv.memory }}MB</td>
                                            <td > <i class="fa fa-tag"> <span class="label label-info">{{ task.spec.task.type }}</span></i></td>
                                            {% if task.status.phase == 'Running' %}
                                                <td><span class="label label-default">正在运行</span>
                                                </td>
                                            {% elif task.status.phase == 'Pending' %}
                                                <td><span class="label label-warning">等待中</span>
                                                </td>
                                            {% elif task.status.phase == 'Succeeded' %}
                                                <td><span class="label label-success">执行成功</span>
                                                </td>
                                            {% elif task.status.phase == 'Failed' %}
                                                <td><span class="label label-success">执行失败</span>
                                                </td>
                                            {% else %}
                                                <td><span class="label label-warning-light">加载中</span>
                                                </td>
                                            {% endif %}
                                            <td><i class="fa fa-clock-o"></i> {{ task.metadata.creationTimestamp }} </td>
                                            <td>
                                                {% if task.status.phase == 'Pending' or task.status.phase == 'Succeeded' or task.status.phase == 'Failed' %}
                                                <a href="/task/detail/{{ task.metadata.namespace }}/{{ task.metadata.name }}">
                                                    <span class="label label-info">
                                                        <i class="fa fa-eye"></i>
                                                        查看
                                                    </span>
                                                </a>
                                                &nbsp;
                                                {% endif %}
                                                <a href="/task/delete/{{ task.metadata.namespace }}/{{ task.metadata.name }}">
                                                    <span class="label label-danger">删除</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    {% if len == 0 %}
                                            <tr>
                                                <td> 当前无任务。 </td>
                                            </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
           {% include 'footer.html' %}
        </div>
    </div>




    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js"%}"></script>
    <script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
    <script src="{% static "js/hplus.min.js"%}"></script>

    <script type="text/javascript" src="{% static "js/contabs.min.js"%}"></script>
    <script src="{% static "js/plugins/pace/pace.min.js" %}"></script>


</body>

</html>
